@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

html, body{
  background-color: #333;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#gameScreen {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#nameScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#name {
  display: flex;
  flex-direction: column;
  color: rgba(0, 174, 255, 1);
  background: rgba(0, 174, 255, 0.2);
  border: 2px solid rgba(0, 174, 255, 0.5);
  border-radius: 5px;
  padding: 0px;
}

#nameField {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgba(0, 174, 255, 7);
  background: rgba(0, 174, 255, 0.0);
  border: none;
  margin: 20px 20px 0px 20px;
  letter-spacing: 2px;
  line-height: 15px;
}

#nameField:focus {
  outline: none;
}

::placeholder {
  color: rgba(0, 174, 255, 0.5);
}

#charactersRemaining {
  font-size: 15px;
  color: rgba(0, 174, 255, 0.6);
  margin: 0px 5px 5px 0px;
  align-self: flex-end;
  line-height: 15px;
}

#nameButton {
  display: flex;
  align-items: center;
  justify-content: center;  
  font-family: 'Oswald', sans-serif;
  transition: .10s all linear;  
  color: rgb(235, 235, 235);
  background: rgba(0, 174, 255, 0.7);
  border: 2px solid rgba(0, 174, 255, 0.6);
  border-radius: 5px;
  font-size: 30px; 
  letter-spacing: 2px;
  margin-left: 10px;
  cursor: pointer;
  padding: 0px 20px 0px 20px;
}

#nameButton:hover {
  color: rgba(0, 174, 255, 0.7);
  background: rgba(0, 174, 255, 0.7);
  border: 2px solid rgba(0, 174, 255, 0.6);
}

#alertModal {
  opacity: 0;
  transition: 1s all linear;
  color: rgba(0, 174, 255, 0.3);
  background: rgba(0, 174, 255, 0.2);
  border: 2px solid rgba(0, 174, 255, 0.2);
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}

#playerModal {
  color: rgba(0, 174, 255, 0.9);
  background: rgba(0, 174, 255, 0.2);
  border: 2px solid rgba(0, 174, 255, 0.6);
  transition: 1s all linear;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  left: 10px;
  top: 10px;
}

#playerList {
  display: block;
}

.playerDiv {
  display: flex;
}

.nameDiv {
  width: 249px;
}

.scoreDiv {
  margin-left: 10px;
  width: 25px;
}

#nameModal {
  display: flex;
}

#validationMessage {
  position: relative;
  top: 30px;
  left: 20px;
  margin-top: -23px;
  opacity: 0;
  transition: 1s all linear;
  color: rgba(243, 76, 90, 0.7);
}

#ieModal {
  display: none;
  color: rgba(0, 174, 255, 1);
  background: rgba(0, 174, 255, 0.2);
  border: 2px solid rgba(0, 174, 255, 0.5);
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
}

#chatModal {
  position: absolute;
  left: 10px;
  bottom: -338px;
  transition: .250s all linear;
  display: flex;
  flex-direction: column;
  color: rgba(0, 174, 255, 1);
  background: rgba(0, 174, 255, 0.2);
  border: 2px solid rgba(0, 174, 255, 0.5);
  border-radius: 5px 5px 0px 0px;
  border-bottom-width: 0px;
  font-size: 20px;
  z-index: 9;
  width: 304px;
}

#chatHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  background: rgba(0, 174, 255, 0.2);
  border-bottom: 2px solid rgba(0, 174, 255, 0.5);
}

#chatDownArrow {
  display: none;
}

#chatHeader h1 {
  font-size: 20px;
  margin: 0px;
}

.smallSvgBox {
  width: 20px;
  height: 20px;
}

#chatMessages {
  flex: 1 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 270px;
  padding: 10px;
}

#chatMessages::-webkit-scrollbar {
  background: none;
}

#chatMessages::-webkit-scrollbar-thumb {
  background: rgba(0, 174, 255, 0.5);
}

#chatField {
  display: flex;
  flex-shrink: 0;
  padding: 5px;
  background: rgba(0, 174, 255, 0.2);
  border-top: 2px solid rgba(0, 174, 255, 0.5);
}

#chatInput {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: rgba(0, 174, 255, 7);
  background: rgba(0, 174, 255, 0.0);
  font-size: 20px;
  border: none;
  padding: 0px;
  width: 230px;
}

#chatInput:focus {
  outline: none;
}

#chatButton {
  display: flex;
  align-items: center;
  justify-content: center;  
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  transition: .10s all linear;  
  color: rgb(235, 235, 235);
  background: rgba(0, 174, 255, 0.7);
  border: 2px solid rgba(0, 174, 255, 0.6);
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  padding: 0px 20px 0px 20px;  
  align-self: flex-start;
}

#chatButton:hover {
  color: rgba(0, 174, 255, 0.7);
  background: rgba(0, 174, 255, 0.7);
  border: 2px solid rgba(0, 174, 255, 0.6);
}

.messageDiv {
  display: flex;
  font-size: 15px;
}

.messageSenderDiv {
  font-size: 15px;
  font-weight: 400;
}

.messageContentDiv {
  margin-left: 10px;
  word-break: break-word;
  font-weight: 400;
}

.resource {
  position: absolute;
  cursor: move;
  background-color: rgba(243, 76, 90, 0.7);
  border: 0px solid rgba(243, 76, 90, 0.7);
  border-radius: 5px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  

  #nameModal {
    display: none;
  }

  #ieModal {
    display: flex;
  }

}