@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html, body{
  background-color: #333;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

#gameScreen {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#nameScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  font-family: 'Oswald', sans-serif;
  color: rgba(0, 174, 255, 1);
  background: rgba(0, 174, 255, 0.2);
  border: 2px solid rgba(0, 174, 255, 0.5);
  border-radius: 5px;
  font-size: 30px;
  padding: 20px 20px 20px 20px; 
  letter-spacing: 2px;
}

input:hover {
  border: 2px solid rgba(0, 174, 255, 0.7);
}

input:focus {
  outline: none;
  border: 2px solid rgba(0, 174, 255, 0.7);
}

::placeholder {
  color: rgba(0, 174, 255, 0.5);
}

#charactersRemaining {
  position: relative;
  top: -25px;
  left: 316px;
  font-size: 14px;
  color: rgba(0, 174, 255, 0.6);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;  
  font-family: 'Oswald', sans-serif;
  transition: .10s all linear;  
  color: rgb(235, 235, 235);
  background: rgba(0, 174, 255, 0.7);
  border: 2px solid rgba(0, 174, 255, 0.6);
  border-radius: 5px;
  font-size: 30px;
  padding: 20px;  
  letter-spacing: 2px;
  margin-left: 10px;
  cursor: pointer;
}

.button:hover {
  color: rgba(0, 174, 255, 0.7);
  background: rgba(0, 174, 255, 0.7);
  border: 2px solid rgba(0, 174, 255, 0.6);
}

#alertModal {
  opacity: 0;
  transition: 1s all linear;
  color: rgba(0, 174, 255, 0.3);
  background: rgba(0, 174, 255, 0.2);
  border: 2px solid rgba(0, 174, 255, 0.2);
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}

#playerModal {
  color: rgba(0, 174, 255, 0.9);
  background: rgba(0, 174, 255, 0.2);
  border: 2px solid rgba(0, 174, 255, 0.6);
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 150px;
}

#nameModal form {
  display: flex;
}

#playerModal h1 {
  font-size: 20px;
  margin-top: 0;
}

.resource {
  position: absolute;
  cursor: move;
  background-color: rgba(243, 76, 90, 0.7);
  border: 0px solid rgba(243, 76, 90, 0.7);
  border-radius: 5px;
}